/* General Settings */
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
}

:root {
  --dark: darkblue;
  --light: white;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: linear-gradient(to bottom, var(--dark), var(--light));
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-style: normal;
}

main {
  min-height: 100vh;
}

/* Counter Settings */
.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: var(--light);
  font-weight: 500 !important;
}

.button-placement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 375px) {
  .button-placement {
    flex-direction: column;
  }
}

.counter-button {
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  border: 1px solid var(--dark);
  background-color: var(--light);
}

.counter-button:hover {
  border: 1px solid transparent;
  box-shadow: 2px 2px 5px var(--dark);
}

#counter-value {
  min-width: 100px;
  min-height: 70px;
  padding: 1rem;
  color: var(--light);
  background-color: var(--dark);
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  word-break: break-all;
}

.negative {
  color: red !important;
}
